.App {
  text-align: center;
}

.chakra-text.css-12szxp0 {
  font-size: 1rem;
}
.text-about::first-letter {
  text-transform: uppercase;
  color: orange;
  font-size: 40px;
  font-weight: 600;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
.social-icon:hover{
  transform: scale(1.2);
  color: var(--chakra-colors-teal-400);
  cursor: pointer;
}
@media screen and (max-width:600px) {

  .css-t52pyf,
  .css-t52pyf,
  .chakra-card__footer.css-1a7q9t8 {
    overflow-x: scroll;
  }
}